* {
    padding: 0;
}

body {
    background-image: url('../assets/space.jpg');
    background-size: cover;
}

.popup {
    position: fixed;
    inset: 0;
    margin: 0;
    padding-left: 10%;
    padding-top: 5%;
    height: 100%;
    width: 90%;
    background: rgba(42, 49, 42, 0.8);
    display: none;
    z-index: 10;
}


.plot {
    position: relative;
    margin: 0;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #03e9f4;
    text-shadow: 0 0 20px #2196f3;
    z-index: 10;
    font-family: 'Stick No Bills', sans-serif;
}

.plot h1 {
    font-family: 'Press Start 2P', cursive;
}

.plot p {
    padding: 2%;
    font-size: 25px;
    line-height: 1.2em;
}


.plot a {
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    padding: 10px 20px;
    background: rgba(48, 96, 134, 0.747);
    ;
    color: #03e9f4;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 10px;
    z-index: 10;
}


.game {
    width: 300px;
    height: 500px;
    border: 1px solid #2196f3;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px #2196f3, 0 0 0 0px #2196f3, 0 0 40px #03e9f4;
    border-radius: 10px;
}


#character {
    width: 100px;
    height: 100px;
    position: relative;
    top: 390px;
    left: 100px;

}

#block {
    width: 100px;
    height: 100px;
    position: relative;
    top: 500px;

}

.animated {
    animation: slide 1s infinite;
}

.finish {
    animation: reverseslide 1s ease-in forwards;
}

@keyframes reverseslide {
    100% {
        transform: translateY(-1000px);
    }
}

#left,
#right {
    width: 50%;
    position: absolute;
    height: 500px;
}

#right {
    left: 50%;
}

.meteor {
    height: 120px;
}

.spaceship {
    height: 110px;
}

@keyframes slide {
    0% {
        top: -100px;
    }
    1000% {
        top: 500px;
    }  
}

.btn {
    padding-top: 3%;
    padding-left: 46%;

}

.btn button {
    font-size: 40px;
    background-image: url('../assets/start.jpg');
    background-size: 130px;
    width: 133px;
    height: 41px;
    background-repeat: no-repeat;
}


@media only screen and (max-width:600px) {

    .plot h1 {
        font-size: 15px;
    }

    .plot p {
        font-size: 95%;
        line-height: 1em;
    }

    .btn {
        padding-left: 30%;
    }

}

@media only screen and (max-width:320px) {

    .popup {
        height: 100%;
    }

    .plot h1 {
        font-size: 15px;
    }

    .plot p {
        font-size: 83%;
        line-height: 1em;
    }

    .btn {
        padding-left: 30%;
    }

}
